@import url("colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font Propo';
    font-size: 14px;
    font-weight: 700;
}

window#waybar {
    background-color: transparent;
}

.modules-center {
    background-color: alpha(@surface, 0.7);
    padding: 2px 10px;
    margin: 6px 0;
    border-radius: 12px;
    border: 1px solid alpha(@outline, 0.15);
}

#window {
    background-color: alpha(@surface, 0.7);
    color: @primary;
    padding: 2px 15px;
    margin: 6px 12px;
    border-radius: 12px;
    border: 1px solid alpha(@outline, 0.15);
}

#right1, #custom-notification, #custom-power {
    background-color: alpha(@surface, 0.7);
    padding: 2px 12px;
    margin: 6px 6px;
    border-radius: 12px;
    border: 1px solid alpha(@outline, 0.15);
}

#workspaces {
    background-color: alpha(@surface_container, 0.5);
    margin: 4px;
    border-radius: 8px;
    padding: 0 5px;
}

#workspaces button {
    color: alpha(@on_surface, 0.4);
    padding: 0 8px;
}

#workspaces button.active {
    color: @on_primary;
    background: @primary;
    border-radius: 6px;
    margin: 4px 2px;
}

#network, #bluetooth, #battery, #custom-notification {
    color: @primary;
    padding: 0 8px;
}

#custom-power {
    color: #ff5555;
    padding: 0 12px;
}

#cpu, #memory, #disk {
    color: @primary;
    background-color: alpha(@surface_container, 0.6);
    border-radius: 6px;
    padding: 2px 10px;
    margin: 4px 3px;
}

#clock, #mpris {
    color: @on_surface;
    background-color: alpha(@surface_container, 0.6);
    padding: 0 12px;
    margin: 4px 5px;
    border-radius: 8px;
}

#custom-expand-iconl, #custom-expand-iconr {
    color: @primary;
    padding: 0 5px;
}
